@page
@model PrivateOfficeWebApp.AuthorizationModel
@{
    ViewData["Title"] = "Authorization";
}
    <div>
        <nav class="navbar" style="background-color: #0866C6">

            <a class="navbar-brand" style="color: white">АРМ Преподавателя</a>
            <!-- <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        </form> -->
        </nav>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center" style="height: 80vh">
            <div class="col-4 ">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-teacher-tab" data-toggle="tab" href="#nav-teacher"
                           role="tab" aria-controls="nav-teacher" aria-selected="true">Преподаватель</a>
                        <a class="nav-item nav-link" id="nav-student-tab" data-toggle="tab" href="#nav-student"
                           role="tab" aria-controls="nav-student" aria-selected="false">Студент</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-teacher" role="tabpanel"
                         aria-labelledby="nav-teacher-tab">
                        <form class="p-4" style="border: solid #0866C6 1px; background-color:white">

                            <div class="form-group">
                                <label for="inputTeacherLogin">Логин</label>
                                <input type="text" class="form-control" id="inputTeacherLogin">
                            </div>
                            <div class="form-group">
                                <label for="inputTeacherPassword">Пароль</label>
                                <input type="password" class="form-control" id="inputTeacherPassword">
                            </div>
                            <div class="form-group form-check">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
                        <form class="p-4" style="border: solid #0866C6 1px; background-color:white">

                            <div class="form-group">
                                <label for="inputStudentLogin">Логин</label>
                                <input type="login" class="form-control" id="inputStudentLogin">
                            </div>
                            <div class="form-group">
                                <label for="inputStudentPassword">Пароль</label>
                                <input type="password" class="form-control" id="inputStudentPassword">
                            </div>
                            <div class="form-group form-check">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

