@page
@model PrivateOfficeWebApp.EditModel
@{
    ViewData["Title"] = "Edit";
}
    <div>
        <nav class="navbar" style="background-color: #0866C6">

            <a class="navbar-brand" style="color: white">АРМ Преподавателя</a>
            <!-- <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        </form> -->
        </nav>
    </div>

<div class="row">
	<div>
        <form method="post">
	        <div class="modal-body">
				<div class="form-id">
					<label hidden="hidden" for="InputIdCourse">Университет</label>
					<input hidden="hidden" asp-for="Course.IdCourse" type="text" class="form-control" id="InputIdCourse">
				</div>
		        <div class="form-university">
			        <label for="InputUniveristy">Университет</label>
			        <input asp-for="Course.NameUniversity" type="text" class="form-control" id="InputUniveristy">
		        </div>

		        <div class="form-nameCourse">
			        <label for="InputGroup">Название курса</label>
			        <input asp-for="Course.NameCourse" type="text" class="form-control" id="InputNameCourse">
		        </div>
		        <div class="form-group">
			        <label for="InputGroup">Группа</label>
					<input asp-for="Course.IdGroup" hidden="hidden"/>
			        <input asp-for="Group.NameGroup" type="text" class="form-control" id="InputGroup">
		        </div>
		        <div class="form-data">
			        <label for="InputCourse">Длительность курса</label>
			        <input asp-for="Course.StartDate" type="date" class="form-control" id="InputStartCourse">
			        <input asp-for="Course.EndDate" type="date" class="form-control" id="InputEndCourse">
		        </div>
		        <div class="form-time">
			        <label for="InputGroup">Количество часов</label>
			        <input asp-for="Course.CountTime" type="text" class="form-control" id="InputTime">
		        </div>
		        <div class="modal-footer">
			        <input type="submit" class="btn btn-secondary" asp-page="../Index" value="Закрыть"/>
			        <input type="submit" class="btn btn-primary" value="Добавить курс"/>
		        </div>
	        </div>
        </form>
	</div>
</div>