@page
@model PrivateOfficeWebApp.Pages.Teacher.StudentsTable.EditGroupModel
@{
    ViewData["Title"] = "EditGroup";
}

<div>
    <nav class="navbar" style="background-color: #0866C6">
        <a href="/Index" class="navbar-brand" style="color: white">АРМ Преподавателя</a>

        <!-- <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        </form> -->
    </nav>
</div>
<div class="container mt-5" style="border: solid   #0866C6 1.5px">
    <div class="row d-flex justify-content-start align-items-center">
        <form method="get">
            <div class="modal-body">
            <div class="form-university mb-1">
                <label>Имя: @Html.DisplayFor(model => model.Group.NameGroup)</label>
            </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="edit" data-toggle="modal" data-target="#editGroup" aria-label="Edit">
                        <span aria-hidden="true">&#9998;</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="modal fade" id="editGroup" tabindex="-1" role="dialog" aria-labelledby="editGroupTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editGroupTitle">Редактирование инфорации о группе</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <form method="post">
                        <div class="madal-body pt-0">
                            <div class="form-id">
                                <label hidden="hidden" for="InputIdGroup">Id группы</label>
                                <input hidden="hidden" asp-for="Group.IdGroup" type="number" class="form-control" id="idgroup">
                            </div>
                                <div class="form-nameGroup">
                                    <label for="InputNameGroup">Название группы</label>
                                    <input asp-for="Group.NameGroup" type="text" class="form-control" id="InputNameGroup">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    <!-- -->
                                    <input type="submit" class="btn btn-primary" value="Принять" asp-page-handler="EditGroups" />
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

