@page
@model PrivateOfficeWebApp.Pages.Teacher.StudentsTable.ViewGroupsModel
@{
    ViewData["Title"] = "ViewGroups";
}

<div>
    <nav class="navbar" style="background-color: #0866C6">
        <a class="navbar-brand" style="color: white">АРМ Преподавателя</a>

        <!-- <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        </form> -->
    </nav>
</div>
<button type="button" class="btn  mt-2" style="background-color:#0866C6; color:white" data-toggle="modal" data-target="#addGroups">
    Добавить группу
</button>
<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название группы
                </th>
                <th>
                    Количество студентов
                </th>
            </tr>
        </thead>
        <tbody>
            @if (true)
            {
                @foreach (var item in Model.Groups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameGroup)
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <form method="post">
                                <a asp-page="../StudentsTable/StudentsTable" asp-route-id="@item.IdGroup">Подробнее</a> |
                                <a asp-page="../StudentsTable/EditGroup" asp-route-id="@item.IdGroup">Редактировать</a>
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                <input hidden="hidden" type="number" name="id" value="@item.IdGroup" />
                                <input type="submit" value="Удалить" asp-page-handler="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
<form action="" id="add_groups" method="post" onsubmit="checkStudent(this);return false;">
    <div class="modal fade" id="addGroups" tabindex="-1" role="dialog"
         aria-labelledby="addGroupsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addGroupsTitle">Добавить группу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-warning" role="alert" id="Alert">
                        Введите название группы.
                    </div>
                    <label for="name">Название группы</label>
                    <input type="text" id="NameGroup" class="form-control" asp-for="Group.NameGroup" value=""/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <input type="submit" class="btn btn-primary" value="Добавить" asp-page-handler="CreateGroups" />
                </div>
            </div>
        </div>
    </div>
</form>
